<form (ngSubmit)="salvar()" [formGroup]="form" #frmDir="ngForm">
    <div class="input-field col s12">
        <i class="material-icons prefix">person</i>
        <input type="text" formControlName="nome" name="nome" id="nome">
        <label for="nome">Nome</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input type="tel" formControlName="telefone" name="telefone" id="telefone">
        <label for="telefone">Telefone</label>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input type="email" formControlName="email" name="email" id="email">
        <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
        <button 
        class="btn waves-effect waves-light right"
        type="submit"
        name="action"
        [disabled]="enableButton()"
        >Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>